#!/bin/bash

shell=`ps -p $$ | tail -1 | awk '{print $NF}'`
if [ $shell == "bash" ]; then
echo "good"
fi

HOME_DIR="/home/`whoami`"
SETTINGS_FOLDER=. #$HOME_DIR/.settings/terminal

TRASH_DIR=$HOME_DIR/.trashbin
ARCHIVE_DIR=$HOME_DIR/.archived

ALIASES_FILE=$SETTINGS_FOLDER/aliases.rc
COLORS_FILE=$SETTINGS_FOLDER/colors.rc
FUNCTIONS_FILE=$SETTINGS_FOLDER/functions.rc

#SOURCE
source $COLORS_FILE
source $ALIASES_FILE
source $FUNCTIONS_FILE

datepart='\[`date + "wk%V.%u, %H:%M`\]'
namepart="\r\n${BOLD}\u ($datepart)${CLEAR}"
gitstatus='`parsegitstatus`'
gitbranch='\[`parsegitbranch`\]'

echo $namepart$gitbranch$gitstatus